.navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 8rem;

    .navbar-container {
        margin: 0 4rem;
        width: 120rem;
        height: 100%;
        display: flex;
        align-items: center;

        .web-icon-container {
            margin-left: 4%;
            width: 22.5rem;
            height: 3.2rem;
            max-width: 20.8%;

            .web-icon {
                width: 100%;
                height: 100%;
                background: url('../svg/MEMERI\ ICON.svg')no-repeat;
                background-size: contain;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .navbar-links {
            color: white;
            display: flex;
            align-items: center;
            flex: 1;

            &>* {
                margin-right: 3rem;
                font-size: 1.6rem;
                letter-spacing: 1px;
                text-transform: uppercase;

                &:hover {
                    color: red;
                }
            }
        }

        .navbar-account {
            width: 22.5rem;
            max-width: 20.8%;
            display: flex;
            justify-content: center;
            color: white;
            font-size: 1.4rem;

            &>* {
                width: 8.8rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(72, 178, 255, 1);
                margin-right: 18%;
                cursor: pointer;

                &>* {
                    margin-top: -.4rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}